@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
  background-image: linear-gradient(90deg, pink, white, violet);
  font-family: 'Roboto', sans-serif;
  -moz-user-select: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.calc-btn {
  background-color: #dcdcdc;
  color: #000000;
  width: 25px;
  height: 45px;
  border: 1px solid #acacac;
  text-align: center;
  cursor: pointer;
  font-size: 32px;
  font-weight: 100;
  padding-top: 3px;
}

.calc-btn:hover {
  background-color: #e8ccd7;
}

.row {
  display: table;
  table-layout: fixed;
  width: 200px;
}

.column {
  display: table-cell;
}

#calc-zero {
  width: 52.66666667px;
  border-radius: 0 0 0 7px;
}

#calc-clear {
  width: 52.66666667px;
}

#calc-display-val {
  height: 80px;
  color: #ffffff;
  text-align: right;
  border-left: 1px solid #dcdcdc;
  border-top: 1px solid #dcdcdc;
  border-right: 1px solid #dcdcdc;
  font-size: 48px;
  background-color: #757575;
  overflow: hidden;
  white-space: nowrap;
  padding: 12px;
  border-radius: 7px 7px 0 0;
}

.calc-btn-operator {
  background-color: #f19cbb;
  color: #ffffff;
}

h1 {
  text-align: center;
  margin-top: 50px;
}

#calc-equals {
  border-radius: 0 0 7px 0;
}
/* Calc 50% will send it to the middle of the page and 100px 
is half of what the width of the row is to really center it*/

.calc-parent {
  margin-left: calc(50% - 100px);
}
